{% extends 'base.html' %}
{% load static i18n %}
{% block extra_js %}
    {{ block.super }}
    <script src="{% static 'tom_select.js' %}" type="module" defer></script>
    <script src="{% static 'image_preview.js' %}" type="module" defer></script>
    <script src="{% static 'barcode_scanner.js' %}" type="module" defer></script>
    {{ form.media.js }}
{% endblock extra_js %}
{% block styles %}
    {{ block.super }}
    {{ form.media.css }}
{% endblock styles %}
{% block title %}
    {% translate "Edit Wine" %}
{% endblock title %}
{% block header %}
    <h1 class="text-3xl font-light text-cellar-muted text-center mt-12 mb-9">{% translate 'Edit Wine' %}</h1>
{% endblock header %}
{% block content %}
    <div class="max-w-xl mx-auto">
        <div>
            <form method="post"
                  enctype="multipart/form-data"
                  class="tw-form"
                  novalidate>
                {% csrf_token %}
                <div class="grid grid-cols-1 gap-4">
                    {% for field in form %}
                        {% if field.name == "image_front" %}
                            {% include 'includes/bodeboca_search.html' %}
                        {% endif %}
                        {% if field.name != "bodeboca_image_url" %}
                            {% include 'forms/form_field.html' %}
                        {% endif %}
                        {% if field.name == "barcode" %}
                            <div id="scanner"
                                 data-zxing_wasm_url="{% static 'zxing_reader.wasm' %}"
                                 data-target-input="id_barcode"></div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="mt-6">
                    <div class="flex flex-wrap gap-2 justify-end">
                        <button type="submit" class="btn btn-primary">{% translate "Save" %}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
