{% extends 'base.html' %}
{% load static i18n %}
{% block title %}
    {% translate "Delete Wine" %}
{% endblock title %}
{% block header %}
    <h1 class="text-3xl font-light text-cellar-muted text-center mt-12 mb-9">{% translate "Delete Wine" %}</h1>
{% endblock header %}
{% block content %}
    <div>
        <div class="max-w-md mx-auto">
            <form method="post"
                  enctype="multipart/form-data"
                  class="tw-form">
                {% csrf_token %}
                <p>
                    {% blocktrans with name=wine.name %}Do you really want to permanently delete the wine "{{ name }}"? This action cannot be undone.{% endblocktrans %}
                </p>
                <div class="mt-6">
                    <div class="flex flex-wrap gap-2 justify-end">
                        <div>
                            <a href="{% url 'wine-detail' wine.pk %}"
                               class="btn btn-neutral">{% translate "Cancel" %}</a>
                        </div>
                        <div id="save_button_container">
                            <button type="submit" name="save" class="btn btn-secondary">{% translate "Delete" %}</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
