{% extends 'base.html' %}
{% load static i18n %}
{% block extra_js %}
    {{ block.super }}
    <script src="{% static 'image_preview.js' %}" type="module" defer></script>
    {{ form.media.js }}
{% endblock extra_js %}
{% block styles %}
    {{ block.super }}
    {{ form.media.css }}
{% endblock styles %}
{% block title %}
    Create Wine from Image
{% endblock title %}
{% block header %}
    <h1 class="text-3xl font-light text-cellar-muted text-center mt-12 mb-9">{% translate 'Create Wine from Image' %}</h1>
{% endblock header %}
{% block content %}
    <div>
        <div class="max-w-md mx-auto">
            {% if not ai_enabled %}
                <div>
            {% blocktranslate trimmed %}
                To use ai-based wine creation a valid ai model and api key need to be configured.
                See <a href="https://the-broke-sommeliers.github.io/wine-cellar/setup/deployment/#ai-setup">the docs</a> for more information.
            {% endblocktranslate %}
                </div>
        {% else %}
            <form method="post"
                  enctype="multipart/form-data"
                  class="tw-form"
                  novalidate>
                {% csrf_token %}
                {% if form.non_field_errors %}
                    <ul class="text-cellar-danger font-bold text-sm mt-1 pl-4" aria-live="assertive" aria-atomic="true">
                        {% for error in form.non_field_errors %}<li>{{ error|escape }}</li>{% endfor %}
                    </ul>
                {% endif %}
                <div class="grid grid-cols-1 gap-4">
                    {% for field in form %}
                        {% include 'forms/form_field.html' %}
                    {% endfor %}
                </div>
                <div class="mt-6">
                    <button type="submit" class="btn btn-primary">{% translate "Upload" %}</button>
                </div>
            </form>
            {% endif %}
        </div>
    </div>
{% endblock content %}