{% extends 'base.html' %}
{% load static i18n %}
{% block extra_js %}
    {{ block.super }}
    <script src="{% static 'tom_select.js' %}" type="module" defer></script>
{% endblock extra_js %}
{% block title %}
    {% translate "Edit Storage" %}
{% endblock title %}
{% block header %}
    <h1 class="text-3xl font-light text-cellar-muted text-center mt-12 mb-9">{% translate 'Edit Storage' %}</h1>
{% endblock header %}
{% block content %}
    <div>
        <div class="max-w-md mx-auto">
            <form method="post"
                  enctype="multipart/form-data"
                  class="tw-form"
                  novalidate>
                {% csrf_token %}
                <div class="grid grid-cols-1 gap-4">
                    {% for field in form %}
                        {% include 'forms/form_field.html' %}
                    {% endfor %}
                </div>
                <div class="mt-6">
                    <div class="flex flex-wrap gap-2 justify-end">
                        <div class="contents">
                            <button type="submit" class="btn btn-primary">{% translate "Save" %}</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
