cellar.ha-hinojal.com {
	tls /etc/caddy/cert.pem /etc/caddy/key.pem

	@files {
		path /static/* /media/*
	}
	handle @files {
		file_server
	}

	handle {
		@health path /health
		respond @health "Not Found" 404
		reverse_proxy web:8000
	}
}
