{% load i18n widget_tweaks %}
<div class="form-container !mb-0">
    <label for="{{ field.id_for_label }}">
        {{ field.label }}
        {% if not field.field.required and field.field.widget.input_type != "checkbox" and field.field.widget.input_type != "hidden" %}
            <span class="inline text-xs text-cellar-muted italic"
                  role="presentation"
                  title="{% translate "This field is optional" %}">{% translate "(Optional)" %}</span>
        {% endif %}
    </label>
    {% if field.help_text %}<p class="text-xs text-cellar-muted italic m-0 mb-1">{{ field.help_text }}</p>{% endif %}
    {{ field|add_error_attr:"aria-invalid:true" }}
    {% if field.errors %}
        <ul class="text-cellar-danger font-bold text-sm mt-1 pl-4" aria-live="assertive" aria-atomic="true">
            {% for error in field.errors %}<li>{{ error|escape }}</li>{% endfor %}
        </ul>
    {% endif %}
</div>
