{% load i18n allauth %}
<div class="mb-4">
    <label for="{{ attrs.id }}">
        {% slot label %}{% endslot %}
        {% if not attrs.required %}
            {% if attrs.type != "checkbox" and attrs.type != "radio" %}
                <p class="inline text-xs text-cellar-muted italic"
                   role="presentation"
                   title="{% translate "This field is optional" %}">{% translate "(Optional)" %}</p>
            {% endif %}
        {% endif %}
    </label>
    {% if attrs.help_text and attrs.type != "password" %}
        <div class="text-xs text-cellar-muted italic m-0 mb-1">{% slot help_text %}{% endslot %}</div>
    {% endif %}
    {% if attrs.errors %}
        <ul class="text-cellar-danger font-bold text-sm mt-1 pl-4" aria-live="assertive" aria-atomic="true">
            {% for error in attrs.errors %}<li>{{ error|escape }}</li>{% endfor %}
        </ul>
    {% endif %}

    {% if attrs.type == "textarea" %}
        <textarea {% if attrs.required %}required{% endif %}
                  {% if attrs.rows %}rows="{{ attrs.rows }}"{% endif %}
                  {% if attrs.disabled %}disabled{% endif %}
                  {% if attrs.readonly %}readonly{% endif %}
                  {% if attrs.checked %}checked{% endif %}
                  {% if attrs.name %}name="{{ attrs.name }}"{% endif %}
                  {% if attrs.id %}id="{{ attrs.id }}"{% endif %}
                  aria-invalid="{% if attrs.errors %}true{% else %}false{% endif %}">{% if attrs.value is not None %}{{ attrs.value }}{% endif %}</textarea>
    {% else %}
        <input {% if attrs.required %}required{% endif %}
               {% if attrs.disabled %}disabled{% endif %}
               {% if attrs.readonly %}readonly{% endif %}
               {% if attrs.checked %}checked{% endif %}
               {% if attrs.name %}name="{{ attrs.name }}"{% endif %}
               {% if attrs.id %}id="{{ attrs.id }}"{% endif %}
               {% if attrs.autocomplete %}autocomplete="{{ attrs.autocomplete }}"{% endif %}
               {% if attrs.value is not None %}value="{{ attrs.value }}"{% endif %}
               aria-invalid="{% if attrs.errors %}true{% else %}false{% endif %}"
               type="{{ attrs.type }}">
    {% endif %}
     {% if attrs.help_text and attrs.type == "password" %}
        <div class="text-xs text-cellar-muted italic m-0 mb-1">{% slot help_text %}{% endslot %}</div>
    {% endif %}
</div>
